.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/Unity/Library
/Unity/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/Unity/Logs
/Unity/Assets/StreamingAssets/
/netcoreapp2.0
/Unity/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/ToolsApp/
/Unity/Unity.Editor.csproj
/Unity/Assets/StompyRobot
/Unity/Assets/Editor/Addressable
/FileServer
/Unity/.vsconfig
/Unity/StompyRobot.SRDebugger.Editor.csproj
/Unity/StompyRobot.SRDebugger.csproj
/Unity/StompyRobot.SRF.Editor.csproj
/Unity/StompyRobot.SRF.csproj
/Unity/Unity.Addressables.Editor.Tests.csproj
/Unity/Unity.Addressables.Editor.csproj
/Unity/Unity.Addressables.Tests.csproj
/Unity/Unity.Addressables.csproj
/Unity/Unity.ResourceManager.Tests.csproj
/Unity/Unity.ResourceManager.csproj
/Unity/ServerData
/Unity/Assets/StompyRobot.meta
/Unity/Assets/AssetsPackage/Code/Code.dll.bytes
/Unity/Assets/AssetsPackage/Code/Code.dll.bytes.meta
/Unity/Assets/AssetsPackage/Code/Code.pdb.bytes
/Unity/Assets/AssetsPackage/Code/Code.pdb.bytes.meta
/Unity/Assembly-CSharp-Editor.csproj
/Excel/~$*.xlsx
/Excel/*/~$*.xlsx
/Excel/Json
/.vscode
/Unity/.vsconfig
Unity/Unity.TextMeshPro.csproj
Unity/Unity.TextMeshPro.Editor.csproj
Unity/Unity.TextMeshPro.Editor.Tests.csproj
Unity/Unity.TextMeshPro.Tests.csproj
/Unity1
Unity/Unity.Hotfix.csproj
Unity/Unity.HotfixView.csproj
Unity/Unity.Model.csproj
Unity/Unity.ModelView.csproj
Unity/Assembly-CSharp.csproj
/SRDebugger
Unity/AdditionPostProcessRendererFeature.csproj
Unity/FogRenderFeature.csproj
Unity/HybridCLRData/hybridclr_repo
Unity/HybridCLRData/il2cpp_plus_repo
Unity/HybridCLRData/LocalIl2CppData
Unity/HybridCLRData/AssembliesPostIl2CppStrip
Unity/HybridCLRData/HotFixDlls
/Unity/Assets/Codes/Temp
/Unity/Assets/Codes/Temp.meta
Unity/Unity.Codes.csproj
Unity/Sandbox
Unity/Bundles
Unity/YooAsset.csproj
Unity/YooAsset.Editor.csproj
